<head>
<link rel="stylesheet" href="/site.css">
</head>
<div class="main">
<h2 class="subheader">Calculate Two Numbers</h2>
<form method="post" action="/calc">
<div class="nums">
<label>First Number</label>
<input type="number" name="left" value="0" required>
</div>
<div class="nums">
<label>Second Number</label>
  <input type="number" name="right" value="0" step="any" required>
  </div>
  <div>
	  <button class="button" name="math" value="add">+</button>
	  <button class="button" name="math" value="sub">-</button>
	  <button class="button" name="math" value="mult">*</button>
	  <button class="button" name="math" value="divide">/</button>
	  <button class="button" name="math" value="mod">%</button>
	  <button class="button" name="math" value="exp">^</button>
  </div>
</form> 
</div>

